{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "experimental": {
      "keepImportAssertions": true
    },
    "target": "es2021",
    "baseUrl": "./"
  },

  "module": {
    "type": "es6",
    "resolveFully": true
  },

  "sourceMaps": true
}
